[Unit]
Description={{user}} uWSGI app
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi \
        --ini %h/uwsgi.ini \
        --socket %h/app.socket
User={{user}}
Group=www-data
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
