[Unit]
Description=Socket for uWSGI app {{userName}}

[Socket]
ListenStream=%h/app.socket
SocketUser={{userName}}
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
